name: Render Quarto files to PDF

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.5.2'

      - name: Install R Dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages:
            any::rmarkdown
            any::tibble

      - name: Setup Quarto and TinyTeX
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.8.27
          tinytex: true

      - name: TEST Render Quarto files to PDF
        run: |
          printf "Listing all Quarto (.qmd) files:"
          find . -name "*.qmd"
          printf ""
          for file in $(find . -name "*.qmd"); do
            printf "Rendering $file to PDF"
            quarto render "$file" --to pdf || exit 1
          done

      - name: Install Poppler tools
        run: |
          sudo apt-get update
          sudo apt-get install -y poppler-utils
  
      - name: TEST PDF pages
        run: |
          for file in $(find . -type f -name "*.pdf"); do
            echo "Checking $file..."
            pages=$(pdfinfo "$file" | grep Pages | awk '{print $2}')
            if [ "$pages" -ne 3 ]; then
              echo "$file does not have exactly 3 pages! It has $pages pages."
              exit 1
            fi
          done
          echo "All PDF files have exactly 3 pages."